/*
 * juego.css
 *
*/

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px;
}

#negras {
    float: right;
}

#blancas {
    float: left;
}

#movimientosRealizados {
    float: clear;
}

canvas#lienzo {
    float: left;
}
